body {
  background: #f5f5f5;
  overflow-x: hidden;
}
.layout {
  width: 80%;
  margin: 0 auto;
}

.layout .head {
  height: 64px;
  line-height: 64px;
  background: #464646;
}
.layout .head a {
  color: #ccc;
}
.layout .head a:hover {
  color: #fff;
}
.layout .head a > img {
  vertical-align: middle;
}

.layout .main {
  position: initial;
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 600px;
}

.main .main-left {
  width: 240px;
  border: 1px solid #d3d3d3;
}
.main .main-right {
  background: #fff;
}
.main .main-right-top {
  padding: 40px;
  margin-left: 240px;
  height: 230px;
  border-bottom: 1px solid #d3d3d3;
}

.main .main-right-bottom {
  padding: 10px 40px;
}

.main .ant-spin-spinning {
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
